@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  min-height: 100vh;
  overflow-x: hidden;
  background: #f0eada;
  color: #296159;
}

.app {
  height: 100vh;

  .app-header {
    padding: 1rem 2rem;

    .logo {
      font-family: 'Courgette', cursive;
      font-size: 2.5rem;
      line-height: 26px;
      color: #296159;
    }
  }

  .chat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 2rem;

    .chat {
      position: relative;
      background: rgb(238, 232, 232);
      box-shadow: 0 0 #fff;
      width: 50rem;
      height: 70rem;

      .form {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.order-history {
  padding: 0.5rem 0;
}

.subtitle {
  font-weight: 600;
}

.order-date,
.total {
  font-weight: 500;
}

// ///////
.react-chatbot-kit-chat-container {
  width: 414px !important;

  @media (max-width: 500px) {
    width: 90vw !important;
  }
}

.react-chatbot-kit-chat-inner-container {
  position: relative;
  width: 414px;

  @media (max-width: 500px) {
    width: 90vw;
  }
}

.react-chatbot-kit-chat-bot-message {
  margin-left: inherit !important;
}

.react-chatbot-kit-chat-input-container {
  width: 414px !important;
  position: relative !important;

  @media (max-width: 500px) {
    width: 90vw !important;
  }
}

.react-chatbot-kit-chat-header {
  font-size: 1.4rem !important;
}

.react-chatbot-kit-chat-bot-message,
.react-chatbot-kit-user-chat-message,
.react-chatbot-kit-chat-input {
  font-size: 1.2rem !important;
}

.react-chatbot-kit-chat-bot-message {
  width: 220px !important;
  background: #f0eada !important;
  color: #296159 !important;
}

.react-chatbot-kit-user-chat-message {
  background: #f0eada !important;
  color: #296159 !important;
}

.react-chatbot-kit-chat-bot-avatar-container {
  display: none !important;
}

.welcome-options {
  padding-top: 0.7rem;
}

.react-chatbot-kit-chat-header {
  background: #296159 !important;
  color: #fff !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right-color: #f0eada !important;
}

.react-chatbot-kit-chat-btn-send {
  background: #296159 !important;
}

.react-chatbot-kit-chat-message-container {
  height: 424px !important;
  padding: 0 12px 0px 17.5px !important;
  overflow: scroll;
}

.react-chatbot-kit-chat-input {
  &:focus {
    outline: 1px solid #296159 !important;
  }
}

.react-chatbot-kit-chat-inner-container {
  height: 500px !important;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid #f0eada !important;
}

.react-chatbot-kit-user-avatar-container {
  background: #296159 !important;
}

.react-chatbot-kit-chat-btn-send {
  cursor: pointer;
}